<!DOCTYPE html>

<html >
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Результаты поиска / IUM Doc indexer</title>
	
	<link rel="icon" type="image/png" id="favicon" href="{{ url_for('static', filename='favicon.png') }}"/>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='metro-bootstrap.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='metro-bootstrap-responsive.css') }}" type="text/css" />
</head>
<body class="metro">
	<div class="container">
	    <div class="grid fluid">
		    <div class="row">
				<div class="span8">
					<form method="GET" action="{{ url_for('search') | e }}">
						<div class="input-control text" data-role="input-control">
							<input type="text" name="q" value="{{ text | e }}" />
							<button class="btn-search"></button>
						</div>
					</form>
			    </div>
				<div class="span1"></div>
				<div class="span2">
					<p>Settings <a href="{{ url_for('settings') }}">page</a>.</p>
			    </div>
		    </div>
		    
			{% if suggest %}
		    <div class="row">
		    	<div class="description padding20 bg-grayLighter">
					<h4>Results for: {{ text | e }}</h4>
					<p>Search <a href="{{ url_for("search", q=maybe) }}">{{ maybe }}</a> instead.</p>
				</div>
		    </div>
			{% endif %}
		    
		    <div class="row">
				{% if not result %}
				<h2>No results</h2>
				{% else %}
				<div class="listview">
				{% for item in result %}
					<div class="list-content">
						<h4>{{ item.rank + 1 }}. <a href="{{ url_for('docs', path=item.path) }}" target="_{{ target }}">{{ item.title | e }}</a> <span class="small text-muted">(score: {{ '%0.4f'| format(item.score) }})</span></h4>
						<p class="text-muted">{{ item.path | e }}</p>
						<p>{{ item.content | safe }}</p>
						<h6 class="text-muted">{{ item.tags }}</h6>
					</div>
				{% endfor %}
				{% endif %}
				</div>
		    </div>
		    
		    {% if result %}
		    <div class="row">
			    {% if page > 1 %}
				<p><a href="{{ url_for("search", q=text, p=page - 1) }}">Previous page</a>, page {{ page }}, <a href="{{ url_for("search", q=text, p=page + 1) }}">next page</a>.</p>
				{% else %}
				<p><a href="{{ url_for("search", q=text, p=page + 1) }}">Next page</a>.</p>
			    {% endif %}
		    </div>
		    {% endif %}
	    </div>
	</div>
</body>
</html>
